.user-info
  font-size 0
  > *
    font-size textoP
  a, a:visited, a:hover
    text-decoration none
    color texto-blanco
    display inline-block
    padding small-padding
    background-color background-color
    